@import 'bootstrap/dist/css/bootstrap.min.css';

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image:
  radial-gradient(
    circle at top right,
    #c0cfe7,
    rgb(168, 208, 226) 30%
  );
  color: #000;
}

#loading{
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}